*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    overflow: hidden;
}
/* Navigation */
#nav{
    position: relative;
    display: flex;
    
    justify-content: space-between;
    padding: 3vw 7vw;
}

#nav a{
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
    color: #000;
}
.nav-l{
    display: flex;
    gap: 2vw;
}
#nav #centera{
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* hero-div */
.hero{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 7vw;
    padding: 0vw 7vw;
    
}
.sustain{
    width: 13vw;
    

}
.sustain p{
    text-transform: capitalize;
    line-height: 1;
    font-weight: 500;
    font-size: 1vw;
    margin: 10px 0;
    opacity: 0.5;
}

.sustain .suimagewrapper{
    width: 100%;
    height: 18vw;
   
}
.suimagewrapper img{
    filter: drop-shadow(10px 8px 6px #111);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.atishay{
    position: relative;
    width: 30vw;
    min-height: 39vw;
  
   

}
.imgntext{
    width: fit-content;
    height: fit-content;

}
.atishay .heading{
    position: absolute;
    top: -16%;
    left: -20%;
}
.atishay h1{
    color: rgb(182, 29, 29);
    line-height: 0.7;
    letter-spacing: -.4vw;
    font-size: 6vw;
    font-weight: 100;
}
.atishay img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.atishay p{
    font-size: 1.2vw;
    
    line-height: 1;
    letter-spacing: -.07vw;
    width: 40%;
   
}
.visit{
    display: flex;
    align-items: center;
    gap: 10px;
}
.visit h3{
    color: #5e5e5e;
}
#circlev{
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #5e5e5e;
    border-radius: 50%;
}
#circlev i{
    color: #5e5e5e;
}

.motive{
    margin-top: 10vw;
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
}
.motive p{
    line-height: 1.7;
    letter-spacing: -.1vw;
    width: 80%;
    text-align: right;
    font-size: 2vw;
   
   
   
}

.motive span{
    display: inline-block;
    width: 8vw;
    height: 3vw;
    margin: 0 10px;
    background-color: rebeccapurple;
    border-radius: 100px;
    margin-bottom: -1vw;
}

#spanfirst{
   background-image: url(https://images.unsplash.com/photo-1619375427371-4de1769526af?auto=format&fit=crop&q=80&w=1528&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-position: center;
   background-size: cover;
}
#spansecond{
    background-image: url(https://images.unsplash.com/photo-1567450213298-e7a1824f6636?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
#spanthird{
    background-image: url(https://imgs.search.brave.com/p5MpdktIAAkvWSiVmDPt9e6JY86BTmNT3PPwcaEXiMA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/c3RhdGljbWIuY29t/L21iaW1hZ2VzL3By/b2plY3QvUGhvdG9f/aDMwMF93NDUwLzIw/MjAvMDkvMTYvUHJv/amVjdC1QaG90by0z/LVRhbmlzaGstRW5j/bGF2ZS1BaG1lZGFi/YWQtNTE4OTA1Ml82/MDBfODAwXzMwMF80/NTAuanBn);
    background-position: center;
   background-size: cover;
}


.picture{
    display: flex;
    justify-content: space-between;
    margin-top: 8vw;
    padding: 3vw;
    padding-left: 14vw;
    padding-right: 12vw;
}

.firstpic{
    width: 17vw;
}
.firstpic .picimg{
    width: 100%;
    height: 24vw;
  
    margin-bottom: 1vw;
}
.picimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(10px 8px 6px #111);
}
.firstpic h1, .secpic h1{
    letter-spacing: -.1vw;
    font-size: 2rem;
    font-weight: 100;
}
.firstpic p, .secpic p{
    opacity: 0.8;
    margin-top: 10px;
    letter-spacing: -0.8;
    line-height: 1;
    font-size: 18px;
}
.secpic{
    text-align: right;
    width: 25vw;
}
.secpic .picimg{
    width: 100%;
    height: 37vw;
  
    margin-bottom: 1vw;
}
.secpic p{
    
    text-align: right;
}
.phone{
    display: none;
}
.full-screen{
    position: relative;
    width: 90;
    height: 80vh;
    margin-bottom: 20vw;
}
.back{
    width: 100%;
    height: 100vh;

   
}
.back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    
}
.workingarea{
    margin: 0 auto;
    position: relative;
    width: 80%;
    height: 100vh;
    max-width: 1900px;
}

.herodiv{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    justify-content: space-between;
    width: 100%;
    
    display: flex;
   
}
.heroleft{
    min-width: 50%;
    
   
}
.heroleft .elem{
    position: relative;
    height: 7vw;
    overflow: hidden;
 
}
.heroleft .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    letter-spacing: -0.5vw;
    font-family: "kajiro";
    color: white;
    font-size: 6vw;
}
.heroleft .elem h1:nth-child(1){
    top: 0;
}
.heroright{
    min-width: 25%;
   
 
}
.banner{
  
    width: 100%;
    margin-top: 8vw;
    display: flex;
    align-items: center;
}
.bimg{
    width: 65%;
    height: 80vh;
}
.bimg img{
    padding: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 75%;
}
.btext{
    width: 35%;
    padding: 0 3vw;
}
.btext h1{
    font-size: 3.5vw;
    letter-spacing: -.1vw;
}
.btext p{
    margin-bottom: 20px;
    width: 60%;
    font-size: 1.5vw;
}
.future{
    margin-top: 10vw;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
   
}
.future video{
    /* position: absolute; */
    width: 100%;
    
    /* height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(); */
}


.cards{
    margin-top: 2vw;
    width: 100%;
    gap: 3vw;
    display: flex;
    flex-direction: column;
    

}
.cards h1{
    text-align: center;
}
.cards-collection{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1vw;
}
.card-box{
    background-position: center;
    background-color: #111;
    position: relative;
    height: 27vw;
    width: 20vw;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease;
    overflow: hidden;
   
}
.box-info{
    
    color: wheat;
    margin-top: 2vw;
    padding: 10px 5px;
}
.card-box:hover{
    background-color: rgb(81, 53, 110);
    transform: rotate3d(1,1,0,30deg);
    background-position: 80%;
}


.box-info h1{
    color: white;
    font-size: 3vw;
}
.num{
    position: absolute;
    top: 33%;
    left: 4%;
    height: 3.5vw;
    width: 3.5vw;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgb(153, 151, 151);
}
#num-2{
    /* filter: drop-shadow(0 0px 40px #f90808); */
     box-shadow: 0 10px 10px rgb(251, 5, 5);
}
#num-3{
    box-shadow: 0 10px 10px rgb(38, 251, 5);
}
#num-4{
    box-shadow: 0 10px 10px rgb(251, 148, 5);
}
.card-box img{
    width: 100%;
    height: 40%;
    object-fit: cover;
    object-position: center;
}

.nearby{
  
    min-height: 100vh;
    width: 100vw;
    
}
.nearby .nearby-divs{
    display: flex;
    justify-content: space-around;
    gap: 3vw;
    flex-wrap: wrap;
}
.nearby-card{
    margin: 10px;
    height: 20vw;
    width: 42vw;
    background-color: red;
    border: 3px solid black;
    position: relative;
    background-position: center;
    background-size: cover;
    color: white;
    cursor: pointer;
    transition: all .5s ease;

}
.nearby-card i{
    position: absolute;
    bottom: 2vw;
    right: 1vw;
    font-size: 2vw;
}
.nearby-card:hover {
    transform: scale(1.1);
 
}

#Atm{
 
    background-image: url(sbi.jpeg);
    background-position: calc(30%);
    background-size: cover;
    color: white;
}

#Restraunts{
    background-image: url(https://images.unsplash.com/photo-1594007654729-407eedc4be65?q=80&w=1928&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
 
}
#Schools{
    background-image: url(https://images.unsplash.com/photo-1580582932707-520aed937b7b?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#Theatres{
    background-image: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8dGhlYXRyZXN8ZW58MHx8MHx8fDA%3D);
}
#Stores{
    background-image: url(https://images.unsplash.com/photo-1542838132-92c53300491e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#Parks{
    background-image: url(https://images.unsplash.com/photo-1610804704770-e795f7c8ad88?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#hospitals{
    background-image: url(https://images.unsplash.com/photo-1505751172876-fa1923c5c528?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#places{
    background-image: url(https://imgs.search.brave.com/GjKVtSA_Nabdy-yKsSHZl1C8_4E4AKXBZXEh1uTZyoM/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMuaW5kaWEuY29t/L3dwLWNvbnRlbnQv/dXBsb2Fkcy8yMDIx/LzAyL21vdGVyYS1z/dGFkaXVtLTMuanBn);
}
.nearby-info{
    
    position: absolute;
    bottom: 1vw;
    background-color: rgba(1, 0, 0, 0.7);
    width: 100%;
    height: 35%;
   

}
.nearby-info h1{
    font-size: 3vw;
}
.nearby-info p{
    
    font-size: 1.4vw;
}
@media(max-width:600px){
    .bimg .hide{
        display: none;
    }
    #nav{
       flex-direction: column;
       gap: 10vw;
       align-items: center;

    }
    .nav-l{
        gap: 5vw;
    }
    .hero{
        margin-top: 20vw;
        flex-direction: column;
        gap: 15vw;
    }
    .sustain{
        width: 53vw;
        
    
    }
    .sustain p{
        text-transform: capitalize;
        line-height: 1;
        font-weight: 500;
        font-size: 5vw;
        margin: 10px 0;
        opacity: 0.5;
    }
    
    .sustain .suimagewrapper{
        padding: 3vw;
        width: 100%;
        height: 60vw;
       
    }
    .suimagewrapper img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }
    
    .atishay{
        position: relative;
        width: 50vw;
        height: 69vw;
     
    
    }
    .atishay .heading{
        position: absolute;
        top: -8%;
        left: -20%;
    }
    .atishay h1{
        color: rgb(182, 29, 29);
        line-height: 0.7;
        letter-spacing: -.4vw;
        font-size: 6vw;
        font-weight: 400;
    }
    .atishay img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .atishay p{
        font-size: 2vw;

    }
    
    .visit{
        
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .visit h3{
        font-size: 3.3vw;
        color: #5e5e5e;
    }
    #circlev{
        width: 4vw;
        height: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #5e5e5e;
        border-radius: 50%;
    }
    #circlev i{
        color: #5e5e5e;
    }
    .picture{
        display: flex;
        justify-content: space-between;
        margin-top: 8vw;
        padding: 3vw;
        padding-left: 10vw;
        padding-right: 8vw;
    }
    
    .firstpic{
        width: 27vw;
    }
    .firstpic .picimg{
        width: 100%;
        height: 35vw;
      
        margin-bottom: 1vw;
    }
    .picimg img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 0 10px rgb(0, 0, 0);
    }
    .firstpic h1, .secpic h1{
        letter-spacing: -.1vw;
        font-size: 1.2rem;
        font-weight: 100;
    }
    .firstpic p, .secpic p{
        opacity: 0.8;
        margin-top: 10px;
        font-size: 0.7rem;
    }
    .secpic{
        text-align: right;
        width: 35vw;
    }
    .secpic .picimg{
        width: 100%;
        height: 47vw;
      
        margin-bottom: 1vw;
    }
    .btext h1{
        font-size: 1.4rem;
        letter-spacing: -.1vw;
    }
    .btext p{
        margin-bottom: 20px;
        width: 60%;
        font-size: 3.5vw;
    }
    .full-screen{
        display: none;
        position: relative;
        width: 100%;
        height: 10%;
        margin-bottom: 15vw;
    }
    .phone{
        display: block;
    }
    .banner{
        display: none;
        width: 100%;
        margin-top: 8vw;
        display: flex;
        align-items: center;
    }
    .bimg{
        width: 65%;
        height: 80vh;
    }
    .bimg img{
        padding: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 75%;
    }
    .cards{
        margin-top: 2vw;
        width: 100%;
        gap: 3vw;
        display: flex;
        flex-direction: column;
        
    
    }
    .cards h1{
        text-align: center;
    }
    .cards-collection{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 3vw;
        flex-direction: column;
    }
    .card-box{
        cursor: pointer;
        background-color: #111;
        position: relative;
        height: 77vw;
        width: 80vw;
       
        border-radius: 10px;
        
       
    }
  
    .box-info{
        
        color: wheat;
        margin-top: 2vw;
        padding: 10px 5px;
    }
    .box-info h1{
        font-size: 5.5vw;
        color: white;
    }
   
    .box-info p{
        font-size: 3vw;
    }
    .num{
        position: absolute;
        top: 33%;
        left: 4%;
        height: 10.5vw;
        width: 10.5vw;
        background-color: black;
        color: white;
        border-radius: 10px;
        box-shadow: 0 10px 10px rgb(153, 151, 151);
    }
    #num-2{
        /* filter: drop-shadow(0 0px 40px #f90808); */
         box-shadow: 0 10px 10px rgb(251, 5, 5);
    }
    #num-3{
        box-shadow: 0 10px 10px rgb(38, 251, 5);
    }
    #num-4{
        box-shadow: 0 10px 10px rgb(251, 148, 5);
    }
    .card-box img{
        width: 100%;
        height: 40%;
        object-fit: cover;
        object-position: center;
    }
    .nearby{
        margin-top: 5vh;
        overflow: hidden;
        min-height: 100vh;
        width: 100vw;
        
    }
    .nearby .nearby-divs{
        display: flex;
        justify-content: center;
        gap: 3vw;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .nearby-card{
        margin: 10px;
        height: 60vw;
        width: 85vw;
        background-color: red;
        border: 3px solid black;
        position: relative;
    }
    #Atm{
     
        background-image: url(sbi.jpeg);
        background-position: calc(30%);
        background-size: cover;
        color: white;
    }
    
    .nearby-info{
        
        position: absolute;
        bottom: 0;
        background-color: rgba(1, 0, 0, 0.7);
        width: 100%;
        height: 19%;
    
    }
    .nearby-info h1{
        font-size: 5vw;
    }
    .nearby-info p{
        
        font-size: 2.9vw;
    }
    .nearby-card i{
        font-size: 3vw;
    }
}